/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2017, 3:40:17 PM
    Author     : DilumDeSilva
*/

.button{
    -fx-background-color: transparent;
}

#openFile{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnPlay{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnPause{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnStop{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnFast{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnFaster{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnSlow{
    -fx-background-image: url(../Icons/icons8-Forward-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnSlower{
    -fx-background-image: url(../Icons/icons8-Fast Forward-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnExit{
    -fx-background-image: url(../Icons/icons8-Music-16.png);
    -fx-background-size:25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}




